.create-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 45px;
  align-items: center;

  h1 {
    text-align: center;
    margin-top: 10px;
  }

  #create-button {
    font-size: 25px;
  }
}

.form-bottom {
  display: flex;
  justify-content: center;
}
