<div class="footer">
  <div class="logo-display">
    <%= image_tag 'logo.png', alt: 'Rent A Pet', size: "80x80" %>
  </div>
  <div class="footer-center">
    <p>Spend time with animals you love ♥</p>
    <span>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
    </span>
    <p>© 2024 Rent-a-Pet. All rights reserved.</p>
  </div>
</div>
