.btn-primary {
  border-radius: 50%;
  background-color: #57745e;
  border: none;
  height: 65px;
  width: 100px;
  font-size: 15px;
  margin-top: 15px;

  &:hover {
    background-color: #3d4b40;
  }
}

.btn-danger {
  &:hover {
    background-color: #b71c1c;
  }
}

.btn-success {
  background-color: #909e94;
}

.btn {
  color: white;

  &:hover {
    color: white;
  }
}
