.form {
  background-color: white;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 3px 3px 15px lightgray;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 20px;
}

.btn {
  border-radius: 50%;
  background-color: #57745e;
  border: none;
  height: 65px;
  width: 100px;
  font-size: 23px;
  margin-top: 15px;
}
