.reservation-form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
}

.reserve-button, .book-me-button {
  margin-top: 10px;
}

.d-none {
  display: none !important;
}
