<div class="container">
<h1>Reviews for Booking:<%= @booking.id %></h1>

<ul>
  <% @reviews.each do |review| %>
    <li>
      <strong>Rating:</strong> <%= @review.rating â­ %><i class="fa-solid fa-star fa-xs" style="color: #FFD43B;"></i><br>
      <strong>Comment:</strong> <%= @review.comment %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add a Review', new_booking_review_path(@booking), class: 'btn btn-primary' %>
</div>
